.layout {
    -fx-background-color: rgba(189, 226, 238, 1);
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-background-image: url("../image/background.jpg");
}

.title_class_h1_style {
    -fx-font-size: 24px;
    -fx-padding: 3px;
}

.title_class_h2_style {
    -fx-font-size: 18px;
    -fx-padding: 3px;
}

.separator .line {
    -fx-border-color: rgb(200, 200, 200);
    -fx-border-width: 1;
}

.header {
    -fx-font-size: 20px;
    -fx-padding: 3px;
    -fx-background-color: rgb(176, 176, 176);
    -fx-border-width: 1;
    -fx-border-color: rgb(137, 138, 137) rgb(63, 63, 63) rgb(63, 63, 63) rgb(137, 138, 137);
}

.sudoku_grid {
    -fx-border-width: 3px 3px 4px 3px;
    -fx-padding: 0px;
    -fx-border-color: grey;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-font-size: 15px;
    -fx-border-radius: 1;
}

.click_button {
    -fx-padding: 5px;
    -fx-font-size: 12px;
}

.created_by {
    -fx-font-size: 12px;
}

.start_button {
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}